body {
  margin: 0px;
}

.presentation__wallpaper {
  height: 100vh;
  background: url("img/wallpaper.jpg") no-repeat center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.identity {
  font-family: 'Amatic SC', cursive;
  color: black;
  font-size: 120px;
  float: right;
  margin-right: 40px;
  margin-top: 40px;
}

.techno {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 90px;
  position: absolute;
  bottom: 100px;
  left: 100px;
}

.experience__wallpaper {
  height: 1200px;
  background: url("img/exp.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.breath {
  margin-top: 100px;
}

.experience__header {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 120px;
  margin: 50px 0 50px 30px;
}

.project__block {
  height: 225px;
  width: 100%;
  margin: 0 auto 10px auto;
  border-radius: 15px;
  display: block;
}

a:link {
  text-decoration: none;
}

.project__block__description {
  padding: 15px 30px 15px 30px;
  height: 225px;
  width: 100%;
  border-radius: 15px;
  font-size: 20px;
  color: rgba(255,255,255,0);
}

.project1 {
  background: url(img/bma.png) no-repeat;
  background-color: rgb(120, 40, 40);
  background-position: center;
}

.project__block:hover {
  transform: scale(1.05);
}

.exp__title {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 500px;
  font-size: 30px;
}

.project__block__description:hover {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.contact__wallpaper {
  background: url("img/contact.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.contact__header {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 120px;
  margin: 50px 0 30px 30px;
}

.contact__block {
  height: 350px;
  border-radius: 50%!important;
  width: 350px;
  background-color: white;
  margin: 70px auto 0 auto;
}

.contact__block:hover {
  transform: scale(1.05);
}

.gmail {
  background: url(img/gmail.png) no-repeat;
  background-color: rgb(63, 169, 245);
  background-position: center;
}

.github {
  background: url(img/github.png) no-repeat;
  background-color: rgb(254, 254, 34);
  background-position: center;
}

.linkedin {
  background: url(img/linkedin.png) no-repeat;
  background-color: rgb(255, 200, 155);
  background-position: center;
}

@media (max-width: 1200px) {
  .identity {
    font-size: 80px;
  }
  .techno {
    font-size: 80px;
  }
  .experience__header {
    font-size: 80px;
  }
  .contact__header {
    font-size: 80px;
    margin-bottom: 0px;
  }
  .project__block {
    height: 200px;
    width: 100%;
  }
  .project__block__description {
    height: 200px;
    width: 100%;
  }

  .contact_block {
    height: 250px;
    width: 250px;
    margin-top: 5px;
  }
}

@media (max-width: 770px) {
  .wallpaper {
    height: 1000px;
  }
  .identity {
    margin-top: 30px;
    text-align: center;
  }
  .techno {
    margin: 0 auto;
  }
  .breath {
    margin: 0;
  }
  .project__block {
    height: 150px;
    width: 100%;
    margin-top: 15px;
  }

  .project__block__description {
    height: 150px;
    width: 100%;
  }

  .contact__block {
    height: 200px;
    width: 200px;
    margin-top: 20px;
  }
  .projects {
    text-align: center;
    margin: 20px 0 40px 0;
  }
  .connect {
    text-align: center;
    margin: 20px 0 55px 0;
  }
}
